

.slider-bg{
    background-color:rgb(253, 236, 236);
}

.Buy-now{
    
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(139, 56, 126) , rgb(252, 107, 196));
}
.categories-bg{
    background-color:pink;
}